.arrow {
    width: 40%;
    transition: all 0.5s;
}

.header {
    background-color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    /* aby bylo menu fixně nahoře*/
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid red;
    z-index: 1;
}

.header-left {
    padding-left: 10px;
    /* proč? */
}

.header-list {
    align-items: center;
    padding-right: 10px;
}

.header-list li {
    padding: 10px;
}

.navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexed {
    display: flex;
}

.flexed .no-pad {
    padding: 0;
}

#flexed-list {
    display: none;
}

#normal-list {
    display: none;
    text-align: center;
}

.minilogo {
    /*stylování loga*/
    width: 10.5rem;
    height: 3.6rem;
}

.insta {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 2.5px 0 0
}

html {
    /*fonty*/
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: lightgrey;
}

ul {
    list-style: none;
    /* bez teček */
}

a {
    /*odkazy*/
    text-decoration: none;
    color: black;
}

a:hover {
    /*odkazy*/
    text-decoration: underline;
    color: crimson;
}

main {
    text-align: center;
    margin: 7rem 2rem 7rem 2rem;
}

body {
    padding: 0;
    margin: 0;
}

main section:nth-child(n+2) {
    padding-top: 4rem;
}

.secret {
    display: none;
}

.content {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.content * {
    margin: 0;
}

.showMore {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.showMore * {
    margin: 0;
    cursor: pointer;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.jam {
    width: 100%;
}

.zoom {
    width: 100%;
    overflow: hidden;
}

.zoom>img {
    transform-origin: 50% 65%;
    transition: transform 1s, filter 5s ease-in-out;
}

.zoom:hover>img {
    transform: scale(1.5);
}

/*Telefon na šířku*/

@media screen and (min-width: 560px) {
    #normal-list {
        display: none;
    }
    #flexed-list {
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .arrow {
        width: 20%;
    }
}

/*Tablet na výšku*/

@media screen and (min-width: 720px) {
    .jam {
        width: 45%;
    }
}

/*Tablet na šířku*/

@media screen and (min-width: 960px) {
    .jam {
        width: 35%;
    }
}

/*Počítačový monitor*/

@media screen and (min-width: 1200px) {
    .jam {
        width: 30%;
    }
}